<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Créer un trajet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form action="" method="post" [formGroup]="myGroup" (ngSubmit)="onSubmit()">
      <div class="map_info d-f-s">
        <div class="map_icon d-g">
          <ion-icon name="ellipse-outline"></ion-icon>
          <ion-icon class="point" name="ellipsis-vertical-outline"></ion-icon>
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="inputs">
          <ion-input required formControlName="depart" type="text" label="Point de départ" labelPlacement="floating"></ion-input>
          <ion-input required formControlName="arrive" type="text" label="Destination" labelPlacement="floating"></ion-input>
        </div>
        <div class="icon-flech">
          <ion-icon name="swap-vertical-outline"></ion-icon>
        </div>
      </div>
      <div class="more_info">
        <ion-label>Plannifier un retour ?</ion-label>
        <ion-segment value="Non" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="Non">
            <ion-label>Non</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Oui">
            <ion-label>Oui</ion-label>
          </ion-segment-button>
        </ion-segment><br/>
        
        <ion-label>Places disponibles: </ion-label>
        <ion-buttons slot="start">
          <ion-icon name="people-outline"></ion-icon>
          <ion-button shape="round" (click)="placeSubs()">
            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
          </ion-button>
          <b> {{nombrePlace}}</b>
          <ion-button shape="round" (click)="placeAdd()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons><br/>

        <ion-label>Date de départ: </ion-label>
        <ion-datetime-button datetime="datetimeDepart" required></ion-datetime-button>
        <ion-label>Date de d'arrivé: </ion-label>
        <ion-datetime-button datetime="datetimeArrive" required></ion-datetime-button><br/>

        <ion-label>Tarif du trajet: </ion-label>
        <div class="d-f" style="align-items: center;">
          <div class="input-prix d-f-c"> 
            <ion-input type="number" placeholder="000" required label="" formControlName="prix"></ion-input>
            <span>CAD</span>
          </div>
        </div><br/>

        <ion-label>Commentaire: </ion-label>
        <div class="d-f-c">
          <ion-textarea autogrow="true" placeholder="Taper ici ..." formControlName="commentaire"></ion-textarea>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #dateDepart id="datetimeDepart"></ion-datetime>
            </ng-template>
          </ion-modal>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #dateArrive id="datetimeArrive"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>
      </div>
      <div class="btn d-f-c">
        <ion-button block color="purple" type="" [disabled]="myGroup.invalid">
          Valider
        </ion-button>
      </div><br/>
    </form>

  </ion-card>

  <ion-toast [isOpen]="isToastOpen" message="Trajet créé avec succès" color="success" [duration]="3000" (didDismiss)="openToast(false)"
    icon="checkmark-sharp">
  </ion-toast>
</ion-content>


<!-- <ion-item>
  <ion-label>Toggle</ion-label>
  <ion-toggle slot="end" (ionChange)="ceeve($event)"></ion-toggle>
</ion-item> -->