.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-buttons {
    background: var(--ion-color-purple);
    color: white;
    border-radius: 50%;
    margin: 10px;
}

ion-toolbar {
    --background: none;
}

.container {

    margin: 100px 40px;

    p {
        text-align: center;
        // font-weight: 600;
    }

    ion-input {
        border: 1px solid var(--ion-color-dark);
        margin: 2px;
        min-height: 43px;

    }



    ion-button {
        margin-block: 30px;
        --background: var(--ion-color-purple);
        --background-activated: #700070;
    }
}