<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--<ion-card type="button" router-direction="/login" style="width: 40px; height: 40px; background-color: blueviolet; border-radius: 20px;">
    <img alt="back" style="width: 40px; height: 36px;" src="../../assets/icon/left-arrow.png" />
  </ion-card>-->

  <br/>
  <ion-text><p>Sign in with phone number</p> </ion-text>
  <ion-input label="Phone number" label-placement="floating" fill="outline" placeholder="+1(XXX) XXX-XXXX"></ion-input><br/>
  <ion-button expand="block" routerLink="/login-phone2">Continue</ion-button>
  <ion-text class="ion-text-center"> <p> By tapping continue, you agree to <br/> Terms and conditions and Privacy Policy of Driv</p> </ion-text><br/>
</ion-content>
