.title {
    font-size: 90px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    margin-bottom: 40px;
}

.text-right {
    text-align: right;
}

img{
    width: 40px;
    height: 40px;
}

ion-card{
    width: 95%;
    margin: 0 auto;
    box-shadow:  5px 5px 15px rgba(126, 126, 126, 0.4);
    border-radius: 5%;
}
