
<ion-content class="ion-padding">

  <ion-title color="primary" class="ion-text-center"> 
    <h1 class="title">DRIV</h1>  
    <h6 class="subtitle">App</h6> 
  </ion-title>

  <ion-card>
    <ion-card-content>
      <br/><ion-button size="medium" expand="block" routerLink="/login-phone1">Sign with phone number</ion-button><br/>
      <ion-text color="primary" class="ion-text-center">
        <h6>----------------------- or -----------------------</h6>
      </ion-text><br/>
      <ion-input inputmode="email" label="Email Address" label-placement="floating" fill="outline"></ion-input><br/>
      <ion-input label="Password" type="password" label-placement="floating" fill="outline" placeholder="Password"></ion-input><br/>
      <div class="text-right">  <a href="#">Forgot Password ?</a></div> <br/>

      <ion-button expand="block" routerLink="/annonces">
        <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
          SIGN IN
        </ion-button><br/>
      <div class="ion-text-center"> New to DRIV ? <a href="#">Sign with</a></div> <br/>

      <ion-grid>
        <ion-row>
          <ion-col size="2" offset="3">
            <a href="#">
              <ion-avatar>
                <img alt="google" src="../../assets/icon/google.png" />
              </ion-avatar>
            </a>
          </ion-col>
          <ion-col size="2">
            <a href="#">
              <ion-avatar>
                <img alt="Facebook" src="../../assets/icon/facebook.png" />
              </ion-avatar>
            </a>
          </ion-col>
          <ion-col size="2">
            <a href="#">
              <ion-avatar>
                <img alt="GMail" src="../../assets/icon/gmail.png" />
              </ion-avatar>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  
</ion-content>
