<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p>Sign in with phone number</p>
    <ion-item>
      <span class="d-f-c"><ion-icon name="call"></ion-icon></span>
      <ion-input type="number" label="+1 (xxx) xxx-xxx" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-button expand="block" [routerLink]="['../get-code-number']" [disabled]="">Continuer</ion-button>
    <div class="policy">
      <p>By tapping continue, you agree to <b>Terms and conditions</b> and <b>Privacy Policy</b> of Driv</p>
    </div>
  </div>
</ion-content>
