<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br/>
  <ion-text><p>Enter the code sent to +1(xxx) xxx-xxxx</p></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
      <ion-col><ion-input class="custom" [maxlength]="1"> </ion-input></ion-col>
    </ion-row>
  </ion-grid><br/>
  <ion-button expand="block" routerLink="/annonces">Submit</ion-button>
  <ion-text class="ion-text-center"> <p>Didn’t receive code ? <a href="#">Resend code</a> </p> </ion-text><br/>
</ion-content>
