<div class="sub_title d-f-s">
      <p>Liste des trajets disponible</p>
      <ion-button color="dark" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
</div>
<div class="trajets">
      <ion-card>
            <ion-card-header class="d-f-s">
                  <div class="avatart-label d-f-c">
                        <ion-avatar>
                              <img src="../../../assets/icon/brice.jpg" />
                        </ion-avatar>
                        <ion-label>Offre de covoiturage</ion-label>
                  </div>
                  <ion-button fill="clear">
                        <ion-icon slot="icon-only" slot="start" name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
            </ion-card-header>
            <ion-card-content class="">
                  <div class="container-card d-f-s">
                        <ion-img src="../../../assets/icon/3.jpg"></ion-img>
                        <div class="covoi-detail">
                              <div class="trajet d-f-s">
                                    <div class="depart">Bathurst, NB</div>
                                    <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
                                    <div class="arrive">Montréal, QC</div>
                              </div>
                              <div class="date_detail d-f">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    Lundi 12 dec 2022
                              </div>
                              <div class="more-info d-f-s">
                                    <span class=" span d-f"><ion-icon name="time-outline"></ion-icon>04h00</span>
                                    <b>$80CAD</b>
                                    <div class="d-f">
                                          <span *ngFor="let item of [1,2,3,4,5]">
                                                <ion-icon slot="start" name="star-sharp" class="star-sharp"
                                                      *ngIf="item <= user_note; else otherIcon"></ion-icon>
                                                <ng-template #otherIcon>
                                                      <ion-icon slot="start" name="star-outline"
                                                            class="star-outline"></ion-icon>
                                                </ng-template>
                                          </span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="footer-card d-f-s">
                        <div class="place-dispo d-f-c">
                              <ion-icon name="people-outline"></ion-icon> 02Disponibles
                        </div>
                        <ion-button fill="clear">
                              <ion-icon name="calendar-outline"></ion-icon> Reserver
                        </ion-button>
                  </div>
            </ion-card-content>
      </ion-card>

      <ion-card>
            <ion-card-header class="d-f-s">
                  <div class="avatart-label d-f-c">
                        <ion-avatar>
                              <img src="../../../assets/icon/brice.jpg" />
                        </ion-avatar>
                        <ion-label>Offre de covoiturage</ion-label>
                  </div>
                  <ion-button fill="clear">
                        <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
            </ion-card-header>
            <ion-card-content class="">
                  <div class="container-card d-f-s">
                        <ion-img src="../../../assets/icon/3.jpg"></ion-img>
                        <div class="covoi-detail">
                              <div class="trajet d-f-s">
                                    <div class="depart">Bathurst, NB</div>
                                    <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
                                    <div class="arrive">Montréal, QC</div>
                              </div>
                              <div class="date_detail d-f">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    Lundi 12 dec 2022
                              </div>
                              <div class="more-info d-f-s">
                                    <span class=" span d-f"><ion-icon name="time-outline"></ion-icon>04h00</span>
                                    <b>$80CAD</b>
                                    <div class="d-f">
                                          <span *ngFor="let item of [1,2,3,4,5]">
                                                <ion-icon slot="start" name="star-sharp" class="star-sharp"
                                                      *ngIf="item <= user_note; else otherIcon"></ion-icon>
                                                <ng-template #otherIcon>
                                                      <ion-icon slot="start" name="star-outline"
                                                            class="star-outline"></ion-icon>
                                                </ng-template>
                                          </span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="footer-card d-f-s">
                        <div class="place-dispo d-f-c">
                              <ion-icon name="people-outline"></ion-icon> 02Disponibles
                        </div>
                        <ion-button fill="clear">
                              <ion-icon name="calendar-outline"></ion-icon> Reserver
                        </ion-button>
                  </div>
            </ion-card-content>
      </ion-card>

      <ion-card>
            <ion-card-header class="d-f-s">
                  <div class="avatart-label d-f-c">
                        <ion-avatar>
                              <img src="../../../assets/icon/brice.jpg" />
                        </ion-avatar>
                        <ion-label>Offre de covoiturage</ion-label>
                  </div>
                  <ion-button fill="clear">
                        <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
            </ion-card-header>
            <ion-card-content class="">
                  <div class="container-card d-f-s">
                        <ion-img src="../../../assets/icon/3.jpg"></ion-img>
                        <div class="covoi-detail">
                              <div class="trajet d-f-s">
                                    <div class="depart">Bathurst, NB</div>
                                    <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
                                    <div class="arrive">Montréal, QC</div>
                              </div>
                              <div class="date_detail d-f">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    Lundi 12 dec 2022
                              </div>
                              <div class="more-info d-f-s">
                                    <span class=" span d-f"><ion-icon name="time-outline"></ion-icon>04h00</span>
                                    <b>$80CAD</b>
                                    <div class="d-f">
                                          <span *ngFor="let item of [1,2,3,4,5]">
                                                <ion-icon slot="start" name="star-sharp" class="star-sharp"
                                                      *ngIf="item <= user_note; else otherIcon"></ion-icon>
                                                <ng-template #otherIcon>
                                                      <ion-icon slot="start" name="star-outline"
                                                            class="star-outline"></ion-icon>
                                                </ng-template>
                                          </span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="footer-card d-f-s">
                        <div class="place-dispo d-f-c">
                              <ion-icon name="people-outline"></ion-icon> 02Disponibles
                        </div>
                        <ion-button fill="clear">
                              <ion-icon name="calendar-outline"></ion-icon> Reserver
                        </ion-button>
                  </div>
            </ion-card-content>
      </ion-card>


      <div class="fab-button">
            <ion-fab-button [routerLink]="['../create-trajets']">
                  <ion-icon name="add"></ion-icon>
            </ion-fab-button>
      </div>
</div>