<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>createAnnonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form action="" method="post" [formGroup]="myGroup">
      <div class="map_info d-f-s">
        <div class="map_icon d-g">
          <ion-icon name="ellipse-outline"></ion-icon>
          <ion-icon class="point" name="ellipsis-vertical-outline"></ion-icon>
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="inputs">
          <ion-input required formControlName="depart" type="text" label=""></ion-input>
          <ion-input required formControlName="arrive" type="text" label=""></ion-input>
        </div>
        <div class="icon">
          <ion-icon slot="start" name="add"></ion-icon>
        </div>
      </div>
      <div class="more_info">
        <label >Besoin d'un retour ?</label>
        <ion-segment-button value="pizza">
          <ion-label>Pizza</ion-label>
        </ion-segment-button>
      </div>




      <ion-button block color="purple" type="" [disabled]="myGroup.invalid">
        Valider
      </ion-button>
    </form>

  </ion-card>
</ion-content>