<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="bg-button">
        <ion-menu-button></ion-menu-button>
      </ion-avatar> 
    </ion-buttons>
    <ion-title>DRIV</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round">
          <ion-icon slot="icon-only" ios="search-outline" md="search-sharp"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['../notifications']">
        <ion-icon slot="icon-only" ios="notifications-outline" md="notifications-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment value="annonces" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="trajets">
      <ion-label>Trajets</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 

  <div>
    <div *ngIf = "segmentSelected == 'annonces' ">
      <app-annonces></app-annonces>
    </div>
    <div *ngIf = "segmentSelected == 'trajets' ">
      <app-trajets></app-trajets>
    </div>
  </div>
</ion-content>