<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sub_title d-f-s">
    <p>Lliste des annonces disponible</p>
    <ion-button class="btn-play">
      <ion-icon slot="start" name="play-circle"></ion-icon>
    </ion-button>
  </div>
  <div class="annonces">
    <ion-card>
      <ion-card-header>
        <span>BESOIN DE COVOITURAGE</span>
      </ion-card-header>
      <ion-card-content class="d-f">
        <div class="map_icon d-g">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
        </div>
        <div class="map_info d-b">
          <div class="origine">Moncton, NB</div>
          <div class="date_detail d-f">
            <ion-icon slot="start" name="time"></ion-icon>
            Lundi 12 dec 2022
            <ion-icon slot="start" name="play-circle"></ion-icon>
            04h00
            <ion-icon slot="start" name="play-circle"></ion-icon>
            02
          </div>
          <div class="card_footer d-f-s">
            <span class="destination">Ottawa, ON</span>
            <ion-buttons class="d-f-c">
              <ion-button class="btn-play" color="primary">
                <ion-icon slot="start" name="play-circle"></ion-icon>
              </ion-button>
              <ion-button class="btn-add" color="secondary">
                <ion-icon slot="start" name="alert-circle"> </ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <span>BESOIN DE COVOITURAGE</span>
      </ion-card-header>
      <ion-card-content class="d-f">
        <div class="map_icon d-g">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
        </div>
        <div class="map_info d-b">
          <div class="origine">Moncton, NB</div>
          <div class="date_detail d-f">
            <ion-icon slot="start" name="time"></ion-icon>
            Lundi 12 dec 2022
            <ion-icon slot="start" name="play-circle"></ion-icon>
            04h00
            <ion-icon slot="start" name="play-circle"></ion-icon>
            02
          </div>
          <div class="card_footer d-f-s">
            <span class="destination">Ottawa, ON</span>
            <ion-buttons class="d-f-c">
              <ion-button class="btn-play" color="primary">
                <ion-icon slot="start" name="play-circle"></ion-icon>
              </ion-button>
              <ion-button class="btn-add" color="secondary">
                <ion-icon slot="start" name="alert-circle"> </ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <span>BESOIN DE COVOITURAGE</span>
      </ion-card-header>
      <ion-card-content class="d-f">
        <div class="map_icon d-g">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
        </div>
        <div class="map_info d-b">
          <div class="origine">Moncton, NB</div>
          <div class="date_detail d-f">
            <ion-icon slot="start" name="time"></ion-icon>
            Lundi 12 dec 2022
            <ion-icon slot="start" name="play-circle"></ion-icon>
            04h00
            <ion-icon slot="start" name="play-circle"></ion-icon>
            02
          </div>
          <div class="card_footer d-f-s">
            <span class="destination">Ottawa, ON</span>
            <ion-buttons class="d-f-c">
              <ion-button class="btn-play" color="primary">
                <ion-icon slot="start" name="play-circle"></ion-icon>
              </ion-button>
              <ion-button class="btn-add" color="secondary">
                <ion-icon slot="start" name="alert-circle"> </ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <span>BESOIN DE COVOITURAGE</span>
      </ion-card-header>
      <ion-card-content class="d-f">
        <div class="map_icon d-g">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
        </div>
        <div class="map_info d-b">
          <div class="origine">Moncton, NB</div>
          <div class="date_detail d-f">
            <ion-icon slot="start" name="time"></ion-icon>
            Lundi 12 dec 2022
            <ion-icon slot="start" name="play-circle"></ion-icon>
            04h00
            <ion-icon slot="start" name="play-circle"></ion-icon>
            02
          </div>
          <div class="card_footer d-f-s">
            <span class="destination">Ottawa, ON</span>
            <ion-buttons class="d-f-c">
              <ion-button class="btn-play" color="primary">
                <ion-icon slot="start" name="play-circle"></ion-icon>
              </ion-button>
              <ion-button class="btn-add" color="secondary">
                <ion-icon slot="start" name="alert-circle"> </ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <span>BESOIN DE COVOITURAGE</span>
      </ion-card-header>
      <ion-card-content class="d-f">
        <div class="map_icon d-g">
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
          <ion-icon slot="start" name="play-circle"></ion-icon>
        </div>
        <div class="map_info d-b">
          <div class="origine">Moncton, NB</div>
          <div class="date_detail d-f">
            <ion-icon slot="start" name="time"></ion-icon>
            Lundi 12 dec 2022
            <ion-icon slot="start" name="play-circle"></ion-icon>
            04h00
            <ion-icon slot="start" name="play-circle"></ion-icon>
            02
          </div>
          <div class="card_footer d-f-s">
            <span class="destination">Ottawa, ON</span>
            <ion-buttons class="d-f-c">
              <ion-button class="btn-play" color="primary">
                <ion-icon slot="start" name="play-circle"></ion-icon>
              </ion-button>
              <ion-button class="btn-add" color="secondary">
                <ion-icon slot="start" name="alert-circle"> </ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>