<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="bg-button">
        <ion-menu-button></ion-menu-button>
      </ion-avatar> 
    </ion-buttons>
    <ion-title>DRIV</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
          <ion-icon slot="icon-only" ios="search-outline" md="search-sharp"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="notifications-outline" md="notifications-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment value="Annonces">
    <ion-segment-button value="Annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Trajets">
      <ion-label>Trajets</ion-label>
    </ion-segment-button>
  </ion-segment>

  
</ion-content>
